Cython==3.0.11
librosa==0.10.2.post1
matplotlib==3.10.0
numpy==2.0.2
phonemizer==3.3.0
scipy==1.14.1
tensorboard==2.18.0
torch==2.5.1
torchvision==0.20.1
Unidecode==1.3.8
num2words==0.5.13
IPython==8.30.0
